services:
  # redis:
  #   image: redis:alpine
  #   ports:
  #     - 6379:6379
  #   restart: "always"
  #   networks:
  #     - my-virtual-network
  server:
    # depends_on:
    #   - redis
    image: ad1cfeafe8db
    pull_policy: never
    ports:
      - 80:4000
    restart: always
    networks:
      - my-virtual-network

networks:
  my-virtual-network:
    driver: bridge
