networks:
  codeit-network:
    driver: bridge

services:
  server:
    depends_on:
      - redis
    image: ${ECR_SERVER_URI}:latest
    restart: always
    networks:
      - codeit-network
    ports:
      - 80:4000
      - 443:4000

  redis:
    image: redis:alpine
    restart: "always"
    networks:
      - codeit-network
    expose:
      - "6379"